<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder ignore-unresolvable="true" location="classpath:spring/elibrary-ds.properties"/>

    <context:component-scan base-package="com.elibrary.server.service"/>
    <context:component-scan base-package="com.elibrary.server.dao"/>
    <context:component-scan base-package="com.elibrary.server.controller"/>

    <bean id="libraryClient" class="com.dblibrary.client.impl.LibraryDbClientImpl">
        <constructor-arg index="0" name="dbLibraryUrl"
                         value="${elibrary.db.base.url}"/>
    </bean>

</beans>